*.iml
kalthailand-api-elife/.idea/
kalthailand-api-elife/target/

kalthailand-api-auth/target/
kalthailand-api-auth/.idea/

kalthailand-api-signing/target/
kalthailand-api-signing/.idea/

kalthailand-api-blacklist/target/
kalthailand-api-blacklist/.idea/
