**/*.iml
**/*.project
**/*.settings
**/*.idea
**/*.classpath
**/target
**/build
**/*.tern-project
build.properties
sample.jasper
kalthailand-api-elife/regKey*.csv
*.log
kalthailand-api-elife/logs/*.*
kalthailand-api-elife/test
kalthailand-api-elife/testresult
kalthailand-admin-elife/bin/
.sonar
