<div class="row">

    <!-- BEGIN Page specific stuff -->
    <div ng-cloak class="col-md-12 main ng-cloak">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Customers

                        </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <!--Care Coordination Campaign-->
                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel ui-ribbon-container fixed_height_390">
                                    <div class="x_title">
                                        <h2>Care Coordination</h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div style="text-align: center; margin-bottom: 17px">
                                            <img src="images/campaign-customers/KTC_registration_page.jpeg">
                                        </div>

                                        <h3 class="name_title">Care Coordination</h3>

                                        <p>

                                        </p>

                                        <div class="divider"></div>

                                        <p>
                                            <a target="_blank"
                                               href="/api-elife/customer/campaign/care-coordination/report/download">
                                                <i class="green fa fa-file-excel-o"></i> Customers Report
                                            </a>
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <!--KTC Campaign-->
                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel ui-ribbon-container fixed_height_390">
                                    <div class="x_title">
                                        <h2>KTC</h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div style="text-align: center; margin-bottom: 17px">
                                            <img src="images/campaign-customers/KTC_registration_page.jpeg">
                                        </div>

                                        <h3 class="name_title">KTC</h3>

                                        <p>

                                        </p>

                                        <div class="divider"></div>

                                        <p>
                                            <a target="_blank" href="/api-elife/customer/campaign/ktc/report/download">
                                                <i class="green fa fa-file-excel-o"></i> Customers Report
                                            </a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                <div class="x_panel ui-ribbon-container fixed_height_390">
                                    <div class="ui-ribbon-wrapper">
                                        <div class="ui-ribbon">
                                            20th
                                        </div>
                                    </div>
                                    <div class="x_title">
                                        <h2>Krungthai AXA</h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div style="text-align: center; margin-bottom: 17px">
                                            <img src="images/campaign-customers/KrungthaiAXA20thAnniversary.jpeg">
                                        </div>

                                        <h3 class="name_title">20th Anniversary</h3>

                                        <p>

                                        </p>

                                        <div class="divider"></div>

                                        <p>
                                            <a target="_blank"
                                               href="/api-elife/customer/campaign/krungthai-axa-20th-anniversary/report/download">
                                                <i class="green fa fa-file-excel-o"></i> Customers Report
                                            </a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END Page specific stuff -->
</div>