<!--Shortcut: https://github.com/philippbosch/ng-shortcut-->

<div ng-include="'app/templates/partials/header.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div ng-include="'app/templates/partials/sidebar.html'"></div>

        <!-- BEGIN Page specific stuff -->
        <div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main ng-cloak" id="collectionFileListContainer">
            <div class="page-header">
                <h1>Commission Setting</h1>
            </div>
            <div ng-include="'app/templates/partials/message.html'"></div>

            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th rowspan="2">Unit Code</th>
                    <th rowspan="2">Plan Code</th>
                    <th rowspan="2">Customer Category</th>
                    <th style="text-align: center" ng-repeat="commissionGroupType in service.commissionGroupTypes" colspan="{{service.commissionTargetEntityTypes.length}}">
                        <span>{{commissionGroupType}} %</span>
                    </th>
                    <th rowspan="2">
                        <button class="btn btn-sm btn-primary" ng-click="service.addCommissionPlan()">+</button>
                    </th>
                </tr>
                <tr>
                    <th ng-repeat-start="commissionGroupType in service.commissionGroupTypes" ng-if='false'>
                    </th>
                    <th ng-repeat-end ng-repeat-start="targetEntityType in service.commissionTargetEntityTypes" style="text-transform: capitalize;"><!--{{$index}}-->{{targetEntityType | lowercase}}</th>
                    <th ng-repeat-end ng-if='false'><!--{{$index}} Never show this column--></th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="commissionPlan in service.commissionPlans" class="form-group" ng-class="commissionPlan.styleClass">
                    <td>
                        <input type="text"
                               limit-to="6"
                               ng-model="commissionPlan.unitCode" class="form-control" style="width: 75px;" ng-disabled="service.isCommissionPlanReadonly(commissionPlan)" ng-change="service.validateCommissionPlans()"/>
                    </td>
                    <td>
                        <input limit-to="7"
                               type="text" ng-model="commissionPlan.planCode" class="form-control" style="width: 75px;" ng-disabled="service.isCommissionPlanReadonly(commissionPlan)" ng-change="service.validateCommissionPlans()"/>
                        <!--
                                                <select class="form-control" style="min-width: 100px;" ng-disabled="service.isCommissionPlanReadonly(commissionPlan)"
                                                        ng-model="commissionPlan.planCode"
                                                        ng-options="product.name as product.name for product in service.products">
                                                </select>-->
                    </td>
                    <td>
                        <select class="form-control" ng-disabled="service.isCommissionPlanReadonly(commissionPlan)"
                                ng-change="service.validateCommissionPlans()"
                                ng-model="commissionPlan.customerCategory"
                                ng-options="customerCategory.value as customerCategory.label for customerCategory in service.customerCategories" style="width: 75px;">
                        </select>
                    </td>
                    <td ng-repeat-start="commissionGroupType in service.commissionGroupTypes" ng-if="false"><!--Never show this column--></td>
                    <td ng-repeat-end ng-repeat-start="commissionEntityType in service.commissionTargetEntityTypes">
                        <input type="text" class="form-control" style="width: 60px" ng-model="service.findCommissionTargetEntityInPlan(commissionPlan, commissionGroupType, commissionEntityType).percentage" ng-change="service.validateCommissionPlans()"/>
                    </td>
                    <td ng-repeat-end ng-if="false"><!--Never show this column--></td>
                    <td>
                        <button class="btn btn-sm btn-danger" ng-click="service.removeCommissionPlan(commissionPlan)" ng-disabled="service.isCommissionPlanReadonly(commissionPlan)">-</button>
                        <!--ng-disabled="service.isCommissionPlanReadonly(commissionPlan)"-->
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-sm btn-default" ng-click="service.saveAllCommissionPlans()">Save all Commission Plans</button>

        </div>
        <!-- END Page specific stuff -->
    </div>
</div>