<style>
    .mem {
        background-color: #ECF0F1;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        text-align: center;
    }

    .maxMem {
        text-align: left;
        /*box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);*/
    }

    .totalMem {
        text-align: left;
        /*background-color: #e1e5e6;*/
        /*background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);*/
        /*background-size: 40px 40px;*/
        /*box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);*/

    }

    .usedMem {
        background-color: #1ABB9C;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-size: 40px 40px;

        color: #2A3F54;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    }

    .freeMem {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        background-color: #f5f5f5;
    }

    .unallocatedMem {
        background-color: #73879C;
        /*background-color: #2A3F54;*/
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-size: 40px 40px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        color: #2A3F54;
    }

    .vertical-line {
        position: relative;
        left: 5px;
    }

    .vertical-line:after {
        content: "";
        position: absolute;
        /*z-index: -1;*/
        top: 0;
        bottom: 0;
        left: -2px;
        border-left: 1px dotted #73879C;
    }

    .arrow-up:after {
        content: "";
        position: absolute;
        /*z-index: -1;*/
        top: 0;
        bottom: 0;
        left: -5px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #73879C;
        width: 0;
        height: 0;
    }

    .arrow-down:after {
        content: "";
        position: absolute;
        /*z-index: -1;*/
        /*top: 0;*/
        bottom: 0;
        left: -5px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid #73879C;
        width: 0;
        height: 0;
    }


</style>
<div class="row">

    <div ng-cloak class="col-md-12 col-sm-12 col-xs-12 main ng-cloak">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-default" ng-click="service.showHealth()"><i class="fa fa-refresh"></i> Load status</button>
            </div>
            <!-- JVM MEMORY -->
            <div class="col-md-6 col-sm-12 col-xs-12">

                <div class="x_panel">
                    <div class="x_title">
                        <h2>JVM Memory</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <table class="mem" style="width: 100%; height: 250px;">
                                        <tr>
                                            <td class="freeMem" style="height: {{service.metrics.jvmFreeMemory / service.metrics.jvmMaxMemory * 100}}%; width: 33%">
                                                Free
                                            </td>
                                            <td class="totalMem vertical-line" rowspan="2" style="width: 33%">
                                                <div class=" arrow-up"></div>
                                                Total
                                                <div class="arrow-down"></div>
                                                <!--<div class="arrow-up"></div>-->
                                                <!--<div class="vertical-line arrow-up">Total</div>-->
                                                <!--<div class="arrow-down"></div>-->
                                            </td>
                                            <td class="maxMem vertical-line" rowspan="3">
                                                <div class=" arrow-up"></div>
                                                Max
                                                <div class="arrow-down"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="usedMem" style="height: {{service.metrics.jvmUsedMemory / service.metrics.jvmMaxMemory * 100}}%">
                                                Used
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="unallocatedMem"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <div class="input-group col-md-12">
                                        <label class="text-center col-md-4 mem"
                                               title="Maximum memory available to the Java Virtual Machine set by the '-mx' or '-Xmx' flags">
                                            Max
                                        </label>
                                        <span class="col-md-2">100%</span>
                                        <span class="col-md-4">{{(service.metrics.jvmMaxMemory / 1073741824).toFixed(2)}} GB</span>
                                    </div>
                                    <div class="input-group col-md-12">
                                        <label class="text-center col-md-4 mem" style="color: #73879C;" title="Total memory allocated from the system">Total</label>
                                        <span class="col-md-2 ">{{(service.metrics.jvmTotalMemory / service.metrics.jvmMaxMemory * 100).toFixed(2)}}%</span>
                                        <span class="col-md-4">{{(service.metrics.jvmTotalMemory / 1073741824).toFixed(2)}} GB</span>
                                    </div>
                                    <div class="input-group col-md-12">
                                        <label class="text-center col-md-4 usedMem">Used</label>
                                        <span class="col-md-2 ">{{(service.metrics.jvmUsedMemory / service.metrics.jvmMaxMemory * 100).toFixed(2)}}%</span>
                                        <span class="col-md-4">{{(service.metrics.jvmUsedMemory / 1073741824).toFixed(2)}} GB</span>
                                    </div>
                                    <div class="input-group col-md-12">
                                        <label class="text-center col-md-4 freeMem" style="color: #73879C;" title="Free memory within the total memory">Free</label>
                                        <span class="col-md-2 ">{{(service.metrics.jvmFreeMemory / service.metrics.jvmMaxMemory * 100).toFixed(2)}}%</span>
                                        <span class="col-md-4">{{(service.metrics.jvmFreeMemory / 1073741824).toFixed(2)}} GB</span>
                                    </div>
                                    <div class="input-group col-md-12">
                                        <label class="text-center col-md-4 unallocatedMem" style="color: #2A3F54;" title="When necessary, JVM will automatically uses unallocated memory to add up into total memory">Unallocated</label>
                                        <span class="col-md-2">{{((1 - (service.metrics.jvmTotalMemory / service.metrics.jvmMaxMemory)) * 100).toFixed(2)}}%</span>
                                        <span class="col-md-4">{{((service.metrics.jvmMaxMemory - service.metrics.jvmTotalMemory) / 1073741824).toFixed(2)}} GB</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- SPACE -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Space</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="min-height: 256px;">
                        <ul class="list-unstyled timeline">
                            <li ng-repeat="diskSpace in service.metrics.diskSpaces">
                                <div class="block">
                                    <div class="tags">
                                        <a href="" class="tag">
                                            <i class="fa fa-hdd-o"></i> {{(diskSpace.totalSpace / 1073741824).toFixed(1)}}GB
                                        </a>
                                    </div>
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>{{diskSpace.driverPath}}</a>
                                        </h2>

                                        <div class="byline">
                                            <span>Usable </span><a>{{(diskSpace.usableSpace / 1073741824).toFixed(2)}} GB </a><span>-</span><a> {{(diskSpace.usableSpace / diskSpace.totalSpace * 100).toFixed(2)}}%</a>
                                        </div>
                                        <div class="byline">
                                            <span>Unallocated</span><a>{{((diskSpace.unallocatedSpace) / 1073741824).toFixed(2)}} GB </a><span>-</span><a> {{(diskSpace.unallocatedSpace / diskSpace.totalSpace * 100).toFixed(2)}}%</a>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-success" style="width:{{diskSpace.usedSpacePercentage.toFixed(0)}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- SETTING FORM -->
            <div class="col-md-12" permission="role-health-check-setting">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Setting</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="alert alert-danger" role="alert" ng-show="service.errorMessage">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ service.errorMessage }}
                            <ul ng-show="service.errorDetails">
                                <li ng-repeat="detailError in service.errorDetails">
                                    {{detailError}}
                                </li>
                            </ul>
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="service.successMessage">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ service.successMessage }}
                        </div>
                        <form name="systemHealthSettingForm" class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Notify for used memory (%) <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="usedMemoryPercentageWarning" ng-model="service.systemHealthSetting.usedMemoryPercentageWarning" required="required" type="number" min="0" max="100" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <!--<div class="divider-dashed"></div>-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Notify to emails <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="warningEmailsString" ng-model="service.systemHealthSetting.warningEmailsString" rows="5" required="required" class="form-control col-md-7 col-xs-12"/>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div>
                                <button type="submit" class="btn btn-default" ng-click="service.saveSetting($event)">Save Setting</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>