<div class="container" ng-submit="onClickLogin()">
    <form class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <div class="form-group">
	        <label for="loginName" class="sr-only">Login name</label>
	        <input type="text" id="loginName" placeholder="Username" class="form-control" required autofocus ng-model="username">
        </div>
        <div class="form-group">
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
        </div>	
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        <div class="alert alert-error" role="alert" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Invalid username and / or password
        </div>
    </form>
</div>