<div ng-include="'app/templates/partials/header.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div ng-include="'app/templates/partials/sidebar.html'"></div>

        <!-- BEGIN Page specific stuff -->
        <style>
            .form-upload {
                border: 1px solid #eee;
                margin-bottom: 20px;
                padding: 5px;
            }
        </style>

        <div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-1 main ng-cloak" id="policyDetailContainer">
            <form class="form-horizontal" ng-submit="search($event)">
                <div class="form-group">
                    <label for="policyID" class="col-sm-4 control-label">Policy number</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="policyID" ng-model="policyID" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
            <div class="alert alert-danger" role="alert" ng-show="errorMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                An error occured. {{ errorMessage }}
            </div>
            <div class="alert alert-success" role="alert" ng-show="successMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ successMessage }}
            </div>
            <div id="paymentDetailContainer">
                <div
                        class="page-header"
                        ng-show="policyDetail && policyDetail.status == 'PENDING_PAYMENT'">
                    <h3>Payment details</h3>
                </div>
                <form
                        class="form-horizontal"
                        name="paymentForm"
                        ng-submit="onSubmitPaymentDetails()"
                        ng-show="policyDetail && policyDetail.status == 'PENDING_PAYMENT'">
                    <div
                            class="form-group"
                            ng-if="policyDetail.premiumsData.financialScheduler.periodicity.code == 'EVERY_MONTH'">
                        <label for="regKey" class="col-sm-3 control-label">regKey</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" ng-model="payment.regKey" id="regKey" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderId" class="col-sm-3 control-label">orderId</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" ng-model="payment.orderId" id="orderId" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="transactionId" class="col-sm-3 control-label">transactionId</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" ng-model="payment.transactionId" id="transactionId" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary" ng-disabled="paymentForm.$invalid || isFetching">
                                <span ng-show="isFetching">Updating...</span>
                                <span ng-show=" ! isFetching">Submit</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="page-header" ng-show="policyDetail">
                <h3>Insured details</h3>
            </div>
            <form class="form-horizontal" ng-show="policyDetail">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">First Name</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.insureds[0].person.givenName }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Date of birth</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.insureds[0].person.birthDate }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.insureds[0].person.email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Name</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.insureds[0].person.surName }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Thai ID</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.insureds[0].person.registrations[0].id }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mobile phone number</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.insureds[0].person.mobilePhoneNumber.number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="page-header" ng-show="policyDetail">
                <h3>Policy details</h3>
            </div>
            <form class="form-horizontal" ng-show="policyDetail">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Policy ID</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.policyId }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Product name</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ getProductDisplayName(policyDetail) }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Premium amount</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.premiumsData.financialScheduler.modalAmount.value }} {{ policyDetail.premiumsData.financialScheduler.modalAmount.currencyCode }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Premium periodicity</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.premiumsData.financialScheduler.periodicity.code }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.status }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sum insured</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ sumInsured }} </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Annual premium</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ annualPremium }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Premium end date</label>

                            <div class="col-sm-8">
                                <p class="form-control-static">{{ policyDetail.premiumsData.financialScheduler.endDate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-hide="policyDetail && policyDetail.status == 'PENDING_PAYMENT'">
                <div class="page-header" ng-show="policyDetail">
                    <h3>Documents</h3>
                </div>

                <div class="bs-glyphicons" ng-show="policyDetail">
                    <ul class="bs-glyphicons-list">
                        <li class="img-thumbnail">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                            <a class="glyphicon-class" ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/APPLICATION_FORM/download">
                                <span class="attachment-item">Application Form (not validated)</span>
                            </a>
                        </li>
                        <li class="img-thumbnail" ng-show="policyDetail.status == 'VALIDATED'">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                            <a ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/APPLICATION_FORM_VALIDATED/download">
                                <span class="attachment-item">Application Form (validated)</span>
                            </a>
                        </li>
                        <li class="img-thumbnail" ng-show="policyDetail.premiumsData.financialScheduler.periodicity.code == 'EVERY_MONTH'">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                            <a ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/DA_FORM/download">
                                <span class="attachment-item">DA Form</span>
                            </a>
                        </li>
                        <li class="img-thumbnail" ng-show="policyDetail.status == 'VALIDATED'">
                            <i class="fa fa-paperclip fa-3" aria-hidden="true"></i>
                            <a ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/ERECEIPT_PDF/download">
                                <span class="attachment-item">eReceipt</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--
                <div class="row" ng-show="policyDetail">
                    <div class="col-sm-3 img-thumbnail glyphicon-class">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <a class="glyphicon-class" ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/APPLICATION_FORM/download">
                            <span class="glyphicon-class">Application Form (not validated)</span>
                        </a>
                    </div>
                    <div class="col-sm-3" ng-show="policyDetail.status == 'VALIDATED'">
                        <a ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/APPLICATION_FORM_VALIDATED/download">
                            <i class="fa fa-paperclip" aria-hidden="true"></i> Application Form (validated)
                        </a>
                    </div>
                    <div class="col-sm-3" ng-show="policyDetail.premiumsData.financialScheduler.periodicity.code == 'EVERY_MONTH'">
                        <a ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/DA_FORM/download"><i class="fa fa-paperclip" aria-hidden="true"></i> DA Form</a>
                    </div>
                    <div class="col-sm-3" ng-show="policyDetail.status == 'VALIDATED'">
                        <a ng-href="{{apiELifeUrl}}/policies/{{policyDetail.policyId}}/document/ERECEIPT_PDF/download">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                            <span class="glyphicon-class">eReceipt</span>
                        </a>
                    </div>
                </div>-->
                <div class="page-header" ng-show="policyDetail && policyDetail.status != 'VALIDATED'">
                    <h3>Notifications</h3>
                </div>
                <div class="row" ng-show="policyDetail && policyDetail.status != 'VALIDATED'">
                    <form class="form-horizontal" ng-submit="search($event)">
                        <div class="form-group">
                            <label for="scenario" class="col-md-1 control-label">Scenario</label>

                            <div class="col-md-6">
                                <select class="form-control" id="scenario" ng-model="scenarioID">
                                    <option value="1">1 - No answer ----> Send SMS + Email + Line</option>
                                    <option value="2">2 - Wrong phone number ----> Send Email + Line</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <button type="button" ng-click="onClickNotification()" ng-disabled="isValidating" ng-show="policyDetail" class="btn">Send Notifications</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="page-header" ng-show="policyDetail && policyDetail.status != 'VALIDATED'">
                    <h3>Validation</h3>
                </div>
                <div class="row" ng-show="policyDetail && policyDetail.status != 'VALIDATED'" ng-submit="onClickValidate(policyDetail.policyId)">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="agentName" class="col-md-3 control-label">Agent Name</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" id="agentName" ng-model="agentName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="agentCode" class="col-md-3 control-label">Agent code</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" id="agentCode" ng-model="agentCode" mask='999999-99-999999' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linePayCaptureMode" class="col-md-3 control-label">Line Pay call</label>

                            <div class="col-md-6">
                                <select class="form-control" id="linePayCaptureMode" ng-model="linePayCaptureMode">
                                    <option value="FAKE_WITH_SUCCESS">Fake (with a success response)</option>
                                    <option value="FAKE_WITH_ERROR">Fake (with an error response)</option>
                                    <option value="REAL">Real (insured person will be charged)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-md-offset-3">
                                <button type="submit" ng-disabled="isValidating" class="btn btn-default btn-danger">Validate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END Page specific stuff -->

    </div>
</div>

</body>
</html>
