<!-- BEGIN Page specific stuff -->
<style>
    .form-upload {
        border: 1px solid #eee;
        margin-bottom: 20px;
        padding: 5px;
    }
</style>
<div id="role-policy-numbers">
    <div class="row tile_count">
        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> Total Policy Numbers </span>

            <div class="count green">{{policyQuota | number: 0}}</div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Used Policy Numbers</span>

            <div class="count green">{{policyQuota - availablePolicyCount | number: 0}}</div>
            <span class="count_bottom"><i class="green">{{(1 - availablePolicyCount / policyQuota) * 100 | number: 2}}%</i> used.</span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Remaining Policy Numbers</span>

            <div class="count green">{{availablePolicyCount | number: 0}}</div>
            <span class="count_bottom"><i class="green">{{availablePolicyCount / policyQuota * 100 | number: 2}}%</i> remaining.</span>
        </div>
    </div>
    <div class="row">
        <div ng-cloak class="col-md-12 col-sm-12 col-xs-12 ng-cloak">
            <div class="alert alert-danger" role="alert" ng-show="errorMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                An error occured. {{ errorMessage }}
            </div>
            <div class="alert alert-success" role="alert" ng-show="successMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ successMessage }}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>Alert Setting</h3>
                    </div>
                    <form class="form-horizontal" ng-submit="updateQuotaAlert($event)">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Notify at</label>

                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="settings.triggerPercent" placeholder="Percentage"/>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timeTrigger" class="col-sm-4 control-label">Notify when</label>

                            <div class="col-sm-4">
                                <select class="form-control" id="timeTrigger"
                                        ng-model="settings.timeTrigger"
                                        ng-options="ttl.value as ttl.name for ttl in timeTriggerList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="emailList" class="col-sm-4 control-label">Notify to</label>

                            <div class="col-sm-4">
	                        <textarea class="form-control" rows="5" id="emailList" ng-model="settings.emailList" required placeholder="Email seperated by commas" autofocus>
	                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>New Policy Numbers Upload</h3>
                    </div>
                    <form name="formUpload" ng-submit="uploadNewPolicyNumbers($event)" class="form-inline form-upload">
                        <div class="form-group">
                            <label for="fileToUpload">Choose a black list file to upload</label>
                            <input type="file" file-model="file" id="fileToUpload">
                        </div>
                        <button type="submit" class="btn btn-primary btn-danger" ng-disabled="isUploading">Submit</button>
                    </form>
                    <div class="alert alert-danger" role="alert" ng-show="uploadErrorMessage">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ uploadErrorMessage }}
                    </div>

                    <div ng-show="hasUploaded">
                        <div>&nbsp;</div>
                        <uib-progress animate="true" max="numberOfLines">
                            <uib-bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span>{{bar.value}}</span></uib-bar>
                        </uib-progress>
                        <div>
                            <span class="label label-success">{{numberOfLinesAdded}}</span> lines added with valid data
                        </div>
                        <div>
                            <span class="label label-warning">{{numberOfDuplicateLines}}</span> lines ignored (duplicate + sheet header)
                        </div>
                        <div>
                            <span class="label label-info">{{numberOfEmptyLines}}</span> empty lines
                        </div>
                        <div>Total of <span class="label label-default">{{numberOfLinesAdded + numberOfDuplicateLines + numberOfEmptyLines}}</span> lines processed (some other empty lines might have not been counted)</div>
                        <div>Total of <span class="label label-default">{{numberOfLines}}</span> lines in the excel file</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END Page specific stuff -->
    </div>
</div>