<div id="role-quotes-count" class="row">
    <div ng-cloak class="col-md-12 col-sm-12 col-xs-12 main ng-cloak">
        <div class="page-header">
            <h1>Total Quotes Count</h1>
        </div>
        <form class="form-horizontal" ng-submit="search($event)">
            <div class="alert alert-danger" role="alert" ng-show="errorMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                An error occured. {{ errorMessage }}
            </div>
            <div class="alert alert-success" role="alert" ng-show="successMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ successMessage }}
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Counting filter</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1  text-right">
                            <label for="productType" class="control-label">Product Type</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="productType" ng-model="productType">
                                <option value="">All</option>
                                <option value="10EC">10EC</option>
                                <option value="iBegin">iBegin</option>
                                <option value="IFine">IFine</option>
                                <option value="IGen">IGen</option>
                                <option value="IProtect">IProtect</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1  text-right">
                            <label for="fromDateSearch" class="control-label">From</label>
                        </div>
                        <div class="col-md-3">
                            <p class="input-group">
                                <input readonly type="text" id="fromDateSearch" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="fromDateSearch" ng-required="true" is-open="fromDateSearch.opened" close-text="Close" datepicker-options="dateOptions"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="fromDateSearchOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                        <div class="col-md-1 text-right">
                            <label for="toDateSearch" class="control-label">To</label>
                        </div>
                        <div class="col-md-3">
                            <p class="input-group">
                                <input readonly type="text" id="toDateSearch" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="toDateSearch" ng-required="true" is-open="toDateSearch.opened" close-text="Close" datepicker-options="dateOptions"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toDateSearchOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-default" style="margin-right:10px;">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                        Count Quotes
                    </button>
                    <button type="button" class="btn btn-default" ng-click="downloadExcelFile()">
                        <i class="fa fa-file-excel-o"></i>
                        Export Excel
                    </button>
                    <button type="button" class="btn btn-default" ng-click="downloadMIDExcelFile()">
                        <i class="fa fa-file-excel-o"></i>
                        MID
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div ng-show="sessionQuoteCounts !=null && sessionQuoteCounts.length > 0" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Counting result</h3>
                    </div>
                    <table class="table table-bordered table-hover table-condensed">
                        <thead style="background-color: #f5f5f5">
                        <tr>
                            <th>Product</th>
                            <th>Session Quotes</th>
                            <th>Quotes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in sessionQuoteCounts">
                            <td>{{ item.productId }}</td>
                            <td>{{ item.sessionQuoteCount | number }}</td>
                            <td>{{ item.quoteCount | number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <canvas id="total-quote-count-chart-radar"></canvas>
            </div>
        </div>
    </div>
    <!-- END Page specific stuff -->
</div>