<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li id="dashboardLink" ng-class="{active: $route.current.activeTab == 'home'}"><a href="#home">Dashboard</a></li>
        <li id="collectionFileLink" ng-class="{active: $route.current.activeTab == 'collection-file'}"><a href="#collection-file">Collection file upload</a></li>
        <li id="policyDetailLink" ng-class="{active: $route.current.activeTab == 'policy-detail'}"><a href="#policy-detail">Policy Detail</a></li>
        <li id="blackListLink" ng-class="{active: $route.current.activeTab == 'blacklist'}"><a href="#blacklist">Black List<span class="sr-only">(current)</span></a></li>
        <li id="configurationLink" ng-class="{active: $route.current.activeTab == 'configuration'}"><a href="#configuration">Configuration<span class="sr-only">(current)</span></a></li>
    </ul>
</div>