<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li id="dashboardLink" ng-class="{active: $route.current.activeTab == 'home'}"><a href="#home">Dashboard</a></li>
        <li id="collectionFileLink" ng-class="{active: $route.current.activeTab == 'collection-file'}"><a href="#collection-file">Collection File</a></li>
        <li id="policyDetailLink" ng-class="{active: $route.current.activeTab == 'policy-detail'}"><a href="#policy-detail">Policy Detail</a></li>
        <li id="blackListLink" ng-class="{active: $route.current.activeTab == 'blacklist'}"><a href="#blacklist">Black List<span class="sr-only">(current)</span></a></li>
        <li id="configurationLink" ng-class="{active: $route.current.activeTab == 'configuration'}"><a href="#configuration">Policy Numbers<span class="sr-only">(current)</span></a></li>
        <li id="totalQuoteCountLink" ng-class="{active: $route.current.activeTab == 'total-quote-count'}"><a href="#total-quote-count">Quotes Counting<span class="sr-only">(current)</span></a></li>
        <li id="commission" ng-class="{active: $route.current.activeTab == 'commission'}"><a href="#commission">Commission Setting<span class="sr-only">(current)</span></a></li>
        <li id="commission-result" ng-class="{active: $route.current.activeTab == 'commission-result'}"><a href="#commission-result">Commission Result<span class="sr-only">(current)</span></a></li>
    </ul>
</div>