<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elife Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />

    <!-- Custom styles for this template -->
    <link href="elife.css" rel="stylesheet">
</head>

<body ng-app="myApp">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">eLife Dashboard</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="dashboardLink"><a href="index.html">Dashboard</a></li>
                <li id="collectionFileLink"><a href="collectionFile.html">Collection file upload</a></li>
                <li id="policyDetailLink"><a href="policyDetail.html">Policy Detail</a></li>
                <li id="blackListLink" class="active"><a href="blackList.html">Black List<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>

        <!-- BEGIN Page specific stuff -->
        <style>
            .form-upload {
                border: 1px solid #eee;
                margin-bottom: 20px;
                padding: 5px;
            }
        </style>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="BlackListController" id="blackListContainer">
            <div class="page-header">
                <h1>Customer Black List</h1>
            </div>
            <form name="formUpload" ng-submit="uploadBlackList($event)" class="form-inline form-upload">
                <div class="form-group">
                    <label for="fileToUpload">Choose a black list file to upload</label>
                    <input type="file" file-model="file" id="fileToUpload">
                </div>
                <button type="submit" class="btn btn-primary btn-danger" ng-disabled="isUploading">Submit</button>
            </form>
            <div class="alert alert-danger" role="alert" ng-show="errorMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ errorMessage }}
            </div>

            <div ng-show="isUploading">
                Number of lines added: <span id="updatedNbLinesAdded">{{ updatedNbLinesAdded }}</span>
            </div>

            <div class="col-sm-9" ng-show="blackList">
                <uib-pagination
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="8"
                        class="pagination-md"
                        force-ellipses="true"
                        boundary-link-numbers="true"
                        ng-change="pageChanged()"
                        items-per-page="20">
                </uib-pagination>
            </div>
            <div class="col-sm-3" style="margin-top: 26px" ng-show="blackList">
                <form name="formSearch" ng-submit="search()" class="form-inline">
                    <label for="search">Search</label>
                    <input type="text" id="search" ng-model="searchContent">
                </form>
            </div>

            <div ng-show="blackList">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Thai ID</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>As Of</th>
                        <th>Report Date</th>
                        <th>Address</th>
                    </tr>
                    <tr ng-repeat="item in blackList.content">
                        <td>{{ item.name }}</td>
                        <td>{{ item.idNumber }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.asOf }}</td>
                        <td>{{ item.reportDate }}</td>
                        <td>{{ item.address }}</td>
                    </tr>
                </table>
                Page {{ currentPage }} / {{ totalPages }}. Number of items: {{ totalItems }}
            </div>
        </div>
        <!-- END Page specific stuff -->

    </div>
</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-file-model/angular-file-model.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/sockjs/sockjs.min.js"></script>
<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers.js"></script>
<script src="app/services.js"></script>

</body>
</html>
