<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elife Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />

    <!-- Custom styles for this template -->
    <link href="elife.css" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/sockjs/sockjs.min.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/services.js"></script>
</head>

<body ng-app="myApp">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">eLife Dashboard</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="dashboardLink" class="active"><a href="index.html">Dashboard<span class="sr-only">(current)</span></a></li>
                <li id="collectionFileLink"><a href="collectionFile.html">Collection file upload</a></li>
                <li id="policyDetailLink"><a href="policyDetail.html">Policy Detail</a></li>
                <li id="blackListLink"><a href="blackList.html">Black List</a></li>
            </ul>
        </div>

        <!-- BEGIN Page specific stuff -->
        <div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-cloak" ng-controller="DashboardController" id="dashboardContainer">
            <h1 class="page-header">Dashboard</h1>

            <form class="form-horizontal" ng-submit="search($event)">
                <div class="row">
                    <div class="col-md-2">
                        <label for="policyID">Policy number</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="policyID" ng-model="policyIdSearch" autofocus>
                    </div>
                    <div class="col-md-2">
                        <label for="productTypeSearch">Product Type</label>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="form-control" id="productTypeSearch" ng-model="productTypeSearch">
                            <option value=""></option>
                            <option value="PRODUCT_10_EC">10 EC</option>
                            <option value="PRODUCT_IFINE">iFine</option>
                            <option value="PRODUCT_IGEN">iGen</option>
                            <option value="PRODUCT_IBEGIN">iBegin</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="statusSearch">Status</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="statusSearch" ng-model="statusSearch">
                            <option value=""></option>
                            <option value="PENDING_PAYMENT">Pending payment</option>
                            <option value="PENDING_VALIDATION">Pending validation</option>
                            <option value="VALIDATED">Validated</option>
                            <option value="CANCELED">Canceled</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="afterDateSearch">After</label>
                    </div>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input type="text" id="afterDateSearch" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="afterDateSearch" is-open="afterDateSearch.opened" close-text="Close" datepicker-options="dateOptions"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="afterDateSearchOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <label for="beforeDateSearch">Before</label>
                    </div>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input type="text" id="beforeDateSearch" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="beforeDateSearch" is-open="beforeDateSearch.opened" close-text="Close" datepicker-options="dateOptions"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="beforeDateSearchOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>

            <div>
                <uib-pagination
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="15"
                        class="pagination-md"
                        force-ellipses="true"
                        boundary-link-numbers="true"
                        ng-change="pageChanged()"
                        items-per-page="20">
                </uib-pagination>

                <table class="table table-bordered table-striped table-hover table-condensed">
                    <tr>
                        <th>Policy ID</th>
                        <th>Product type</th>
                        <th>Premium</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>Agent code</th>
                    </tr>
                    <tr ng-repeat="item in policies.content">
                        <td><a href="policyDetail.html?policyID={{ item.policyId }}">{{ item.policyId }}</a></td>
                        <td>{{ item.commonData.productName }}</td>
                        <td>{{ item.premiumsData.financialScheduler.modalAmount.value }} {{ item.premiumsData.financialScheduler.modalAmount.currencyCode }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.insureds[0].startDate | date:'yyyy-MM-dd' }}</td>
                        <td>{{ item.insureds[0].insuredPreviousAgents }}</td>
                    </tr>
                </table>
                Page {{ currentPage }} / {{ totalPages }}. Number of items: {{ totalItems }}
            </div>

        </div>
        <!-- END Page specific stuff -->

    </div>
</div>

</body>
</html>
