<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />

    <!-- Custom styles for this template -->
    <link href="login.css" rel="stylesheet">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/sockjs/sockjs.min.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/services.js"></script>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="LoginController" ng-submit="onClickLogin()">
        <form class="form-signin">
            <h2 class="form-signin-heading">Login</h2>
            <label for="loginName" class="sr-only">Login name</label>
            <input type="text" id="loginName" class="form-control" required autofocus ng-model="username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            <div class="alert alert-error" role="alert" ng-show="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Invalid username and / or password
            </div>
        </form>
    </div>
</body>
</html>
