<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-file-model/angular-file-model.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src='bower_components/ngMask/dist/ngMask.min.js'></script>
<script src="bower_components/sockjs/sockjs.min.js"></script>
<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- BOOTSTRAP THEME -->
<!-- jQuery -->
<script src="libs/bootstrap-gentellena/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="libs/bootstrap-gentellena/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="libs/bootstrap-gentellena/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="libs/bootstrap-gentellena/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<!--<script src="libs/bootstrap-gentellena/vendors/Chart.js/dist/Chart.min.js"></script>-->
<!-- gauge.js -->
<!--<script src="libs/bootstrap-gentellena/vendors/gauge.js/dist/gauge.min.js"></script>-->
<!-- bootstrap-progressbar -->
<script src="libs/bootstrap-gentellena/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="libs/bootstrap-gentellena/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="libs/bootstrap-gentellena/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="libs/bootstrap-gentellena/vendors/Flot/jquery.flot.js"></script>
<script src="libs/bootstrap-gentellena/vendors/Flot/jquery.flot.pie.js"></script>
<script src="libs/bootstrap-gentellena/vendors/Flot/jquery.flot.time.js"></script>
<script src="libs/bootstrap-gentellena/vendors/Flot/jquery.flot.stack.js"></script>
<script src="libs/bootstrap-gentellena/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="libs/bootstrap-gentellena/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="libs/bootstrap-gentellena/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="libs/bootstrap-gentellena/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="libs/bootstrap-gentellena/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<!--<script src="libs/bootstrap-gentellena/vendors/jqvmap/dist/jquery.vmap.js"></script>-->
<!--<script src="libs/bootstrap-gentellena/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->
<!--<script src="libs/bootstrap-gentellena/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!-- bootstrap-daterangepicker -->
<script src="libs/bootstrap-gentellena/production/js/moment/moment.min.js"></script>
<script src="libs/bootstrap-gentellena/production/js/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="libs/bootstrap-gentellena/build/js/custom.min.js"></script>

<!-- APP -->
<script src="app/scripts/jscommon.js"></script>
<script src="app/scripts/service-commission.js"></script>
<script src="app/scripts/service-commission-result.js"></script>
<script src="app/scripts/app.js"></script>
<script src="app/scripts/controllers.js"></script>
<script src="app/scripts/services.js"></script>

<!--<script src="app/scripts/greeting.js"></script>-->