<div class="menu_section" xmlns:th="http://www.thymeleaf.org">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li th:if="${user.featuresAvailabilities['policyDetailLink']}"><a><i class="fa fa-suitcase"></i> Policy <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li th:if="${user.featuresAvailabilities['policiesLink']}"><a href="#home">List</a></li>
                <li th:if="${user.featuresAvailabilities['policyDetailLink']}"><a href="#policy-detail">Detail</a></li>
            </ul>
        </li>
        <li th:if="${user.featuresAvailabilities.totalQuoteCountLink}"><a><i class="fa fa-quote-left"></i> Quote <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#total-quote-count">Counting</a></li>
            </ul>
        </li>
        <li th:if="${user.featuresAvailabilities.collectionFileLink}"><a><i class="fa fa-credit-card"></i> Collection <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#collection-file">Collection</a></li>
            </ul>
        </li>
        <li th:if="${user.featuresAvailabilities.blackListLink || user.featuresAvailabilities.policyNumbersLink}"><a><i class="fa fa-cog"></i> Setting <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li th:if="${user.featuresAvailabilities.blackListLink}"><a href="#blacklist">Black List</a></li>
                <li th:if="${user.featuresAvailabilities.policyNumbersLink}"><a href="#configuration">Policy Numbers</a></li>
            </ul>
        </li>

        <li th:if="${user.featuresAvailabilities.commissionLink}"><a><i class="fa fa-pie-chart"></i> Commission <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#commission">Commission Setting</a></li>
                <li><a href="#commission-result">Commission Result</a></li>
            </ul>
        </li>
    </ul>
</div>

