<div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-suitcase"></i> Policy <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li id="policiesLink"><a href="#home">List</a></li>
                <li id="policyDetailLink"><a href="#policy-detail">Detail</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-quote-left"></i> Quote <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li id="totalQuoteCountLink"><a href="#total-quote-count">Counting</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-credit-card"></i> Collection <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li id="collectionFileLink"><a href="#collection-file">Collection</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-cog"></i> Setting <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li id="blackListLink"><a href="#blacklist">Black List</a></li>
                <li id="policyNumbersLink"><a href="#configuration">Policy Numbers</a></li>
            </ul>
        </li>

        <li><a><i class="fa fa-pie-chart"></i> Commission <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li id="commissionLink"><a href="#commission">Commission Setting</a></li>
                <li id="commissionResultLink"><a href="#commission-result">Commission Result</a></li>
            </ul>
        </li>
    </ul>
</div>


